// Background colors
$main-color: #2E2E2E;
$secondary-color: #5ABFF2;
$details-color: #F4A261;

// Font colors
$main-font-color: #eee;
$secondary-font-color: #B3B3B3;
$highlit-font-color: #F4A261;
$teriatry-font-color: #5ABFF2;

//Font options
$font-weight-normal: 400;
$font-weight-bold: 700;

// Border radius
$border-radius-small: .5rem;
$border-radius-medium: .8rem;
$border-radius-large: 1.1rem;

//Trasitions settings
$transition-duration: 0.4s;
$transition-timing-function: ease-in-out;